.App {
}

body::before {
    background-image: url("./images/back.png");
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.09;
    background-repeat: no-repeat;
    background-size: cover;
}